.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    position: sticky;
    top: 0;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-name {
    margin-left: 15px;
}

.nav-link {
    margin-right: 50px;

}

.link {
    margin-right: 25px;
    font-size: larger;
    font-weight: 400;
    text-decoration: none;
}

.link:hover {
    color: white;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
}